<!DOCTYPE html>
<!--lcy 4.23
base模板，根模板非必要不要修改
顶部导航栏
中部框架内容
底部名片联系方式
-->
<!doctype html>
<html class="no-js" lang="zxx" ng-app="index">
{% load static %}
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	{% block title %}<title>主页</title>{% endblock %}
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicons -->
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
	<link rel="apple-touch-icon" href="{% static 'images/icon.png' %}">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/plugins.css' %}">
	<link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'mycss/style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-4.1.3-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-4.4.1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'mycss/header.css' %}">
    <link rel="stylesheet" href="{% static 'mycss/search_bar.css' %}">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- Cusom css -->
   	<link rel="stylesheet" href="{% static 'css/custom.css' %}">
   	<link rel="stylesheet" href="{% static 'css/sweetalert.css' %}" />
	<script src="{% static 'js/sweetalert.min.js' %}"></script>

	<!-- Modernizer js -->
	<script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
	<script src="{% static 'js/angular.js' %}"></script>
	<script src="{% static 'lib/mall-menu-index.js' %}"></script>

    <!--放缩一些太长的图片，引入js-->
    <script type="text/javascript" src="{% static 'js/jqthumb.min.js' %}"></script>
    <script>function DrawImage(hotimg){
		$(hotimg).jqthumb({
			width : '100%',//宽度
			height : '120px',//高度
			//position : { y: '50%', x: '50%'},//从图片的中间开始产生缩略图
			zoom : '1',//缩放比例
			method : 'auto'//默认为‘auto’
		});
	}</script>
</head>
{% block nav %}
<body ng-controller="indexctrl">
	<!--[if lte IE 9]>

		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->

	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">
		<!-- Start Header Area -->
        <header class="htc__header bg--white">
            <div id="sticky-header-with-topbar" class="mainmenu__wrap sticky__header">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-sm-4 col-md-6 order-1 order-lg-1">
                            <div class="logo">
                                <a href="{% url 'meals:index' %}">
                                    <img src="{% static 'images/logo/logo_sjtu.jpg'  %}" alt="logo images" height="60px" width="90px">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-sm-4 col-md-2 order-3 order-lg-2">
                            <div class="main__menu__wrap">
                                <nav class="main__menu__nav d-none d-lg-block">
                                    <ul class="mainmenu">
                                       <li>
                                        	<a href="{% url 'meals:index' %}">首页</a>
                                        </li>
                                         <li>
                                        	<a href="{% url 'meals:menu' %}">菜单</a>
                                        </li>
                                        <li><a href="https://canteen.sjtu.edu.cn/" target="_blank">就餐情况</a></li>
                                        <li><a href="{% url 'meals:myself' %}">个人中心</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-lg-1 col-sm-4 col-md-4 order-2 order-lg-3">
                            <div class="header__right d-flex justify-content-end">
<!--登录标识-->
                                <div class="log__in">
                                    <a href="{% url 'meals:logout' %}"><span class="	glyphicon glyphicon-log-out"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="mobile-menu d-block d-lg-none"></div>
                    <!-- Mobile Menu -->
                </div>
            </div>
        </header>
    </div>

{% block content %}{% endblock %}

        {% block footer %}
    <!-- Start Footer Area -->
        <footer class="footer__area footer--1">
            <div class="footer__wrapper bg__cat--1 section-padding--lg">
                <div class="container">
                    <div class="row">
                        <!-- Start Single Footer -->
                        <div class="col-md-8 col-lg-3 col-sm-12">
                            <div class="footer">
                                <h2 class="ftr__title">联系我们</h2>
                                <div class="footer__inner">
                                    <div class="ftr__details">
                                        <p>软件工程16小组</p>
                                        <div class="ftr__address__inner">
                                            <div class="ftr__address">
                                                <div class="ftr__address__icon">
                                                    <i class="zmdi zmdi-home"></i>
                                                </div>
                                                <div class="frt__address__details">
                                                    <p>东川路800号男子职业技术学院</p>
                                                </div>
                                            </div>
                                            <div class="ftr__address">
                                                <div class="ftr__address__icon">
                                                    <i class="zmdi zmdi-phone"></i>
                                                </div>
                                                <div class="frt__address__details">
                                                    <p><a href="https://bwc.sjtu.edu.cn/a/news/news/frontnewlist">54749110</a></p>
                                                </div>
                                            </div>
                                            <div class="ftr__address">
                                                <div class="ftr__address__icon">
                                                    <i class="zmdi zmdi-email"></i>
                                                </div>
                                                <div class="frt__address__details">
                                                    <p><a href="https://mail.qq.com/">li.ji.dong@qq.com</a></p>

                                                </div>
                                            </div>
                                        </div>
                                        <ul class="social__icon">
                                            <li><a href="https://devcloud.cn-east-3.huaweicloud.com/codehub/project/793a3b25fdf043c5928e0cb35d402ca2/codehub/7331095/home?ref=master"><i class="zmdi zmdi-github"></i></a></li>
                                            <li><a href="https://bwc.sjtu.edu.cn/a/news/news/frontnewlist"><i class="zmdi zmdi-phone"></i></a></li>
                                            <li><a href="https://mail.qq.com/"><i class="zmdi zmdi-email"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer -->

                        <!-- Start Single Footer -->
                        <div class="col-md-6 col-lg-2 col-sm-12"></div>
                        <div class="col-md-6 col-lg-2 col-sm-12"></div>
                        <div class="col-md-6 col-lg-2 col-sm-12"></div>
                        <!-- End Single Footer -->

                        <!-- Start Single Footer -->
                        <div class="col-md-6 col-lg-3 col-sm-12 md--mt--40 sm--mt--40">
                            <div class="footer">
                                <h2 class="ftr__title">餐厅开放时间</h2>
                                <div class="footer__inner">
                                    <ul class="opening__time__list">
                                        <li>疫情期间</li>
                                        <li>早餐<span>......</span>6：30~8：30
                                        <li><span>   </span>
                                        <li>午餐<span>......</span>10：30~12：30
                                        <li><span>    </span>
                                        <li>餐堡<span>......</span>16：30~18：30
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer -->
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer Area -->
        {% endblock %}
    {% block script %}
    <script src="{% static 'js/vendor/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/plugins.js' %}"></script>
	<script src="{% static 'js/active.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/jqthumb.min.js' %}"></script>
    <script>function DrawImage(hotimg){
		$(hotimg).jqthumb({
			width : '100%',//宽度
			height : '142px',//高度
			//position : { y: '50%', x: '50%'},//从图片的中间开始产生缩略图
			zoom : '1',//缩放比例
			method : 'auto'//默认为‘auto’
		});
	}</script>
    {% endblock %}
</body>
{% endblock %}

