{% extends "meals/base.html" %}
{% load static %}
{% block content %}



<div class="container">
    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12" style="background-color: whitesmoke;height:300px;">
            <div class="table-responsive">

                <!--菜品信息部分-->
                <table class="table">
                    <tr>
                        <td style="width:350px;height:100px" >
                            <img width="270" height="200" src="{{ meal.picture.url }}" class="img-circle"/>
                        </td>
                        <td style="width:350px;height:100px" ><h1>{{ meal.name }}</h1>
                            <br>
                            <br>
                            <br>
                            <button id="likenum" class="btn btn-default btn-sm" type="submit" onclick="javascrtpt:window.location.href='{% url 'meals:like_meal' meal.id %}' ">
                                <span class="glyphicon glyphicon-heart-empty"></span> 喜欢
                            </button>
                            <button id="collectnum" class="btn btn-default btn-sm" type="submit" onclick="javascrtpt:window.location.href='{% url 'meals:collect_meal' meal.id %}' ">
                                <span class="glyphicon glyphicon glyphicon-folder-open"></span> 收藏
                            </button>
                            <button id="dislikenum" class="btn btn-default btn-sm" type="submit" onclick="javascrtpt:window.location.href='{% url 'meals:dislike_meal' meal.id %}' ">
                                <span class="glyphicon glyphicon-heart"></span> 不喜欢
                            </button>
                        </td>
                        <td>
                            <p><span class="glyphicon glyphicon-usd"></span>  价格：{{ meal.price }}</p>
                            <br>
                            <p><span class="glyphicon glyphicon-cutlery"></span>  餐厅：{{ meal.canteen }}</p>
                            <br>
                            <p><span class="glyphicon glyphicon-tower"></span>  具体地点：{{ meal.place }}</p>
                            <br>
                            <p><span class="glyphicon glyphicon-tags"></span>  标签:
                                {% for tagi in tags %}
                                {{ tagi.tag }}
                                {% endfor %}
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
             <small>点赞数：{{ meal.likes }}</small>
             <small>点踩数：{{ meal.dislikes }}</small>
             <small>浏览量：{{ meal.views }}</small>

        </div>
    </div>
</div>

<div id="colorlib-container">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12 content">
                        <!--评论部分-->
                        <div class="row row-pb-lg">
							<div class="col-md-12">
								<h2 class="comment-heading">Comments</h2>

                             {% if not comments %}
                             <div style="text-align: center" class="text-black-50">
                                 暂无评论</div>
                            {% else %}

                                {% for commenti in comments %}
                                    <!--显示头像-->
                                    <div class="review">
                                    {% if commenti.user.avatar %}
                                        <div class="user-img" style="background-image: url('{{commenti.user.avatar.url}}'); background-size: contain " > </div>
                                    {% else %}
                                        <div class="user-img" style="background-image: url('{{commenti.user.avatar.url}}'); background-size: contain " > </div>
                                    {% endif %}
                                    <div class="desc py-3">
                                        <h4>
                                            <span class="text-left"><strong>{{commenti.user}}</strong></span>
                                            <span class="text-right">{{ commenti.pub_date }}   {{ commenti.pub_time }}</span>
                                        </h4>
                                        <p>{{ commenti.content | safe}}</p>
                                    {% if commenti.id in current_user_like_comment_list %}
                                        <div class="row justify-content-between">
                                            <a href="{% url 'meals:like_comment' commenti.id %}" type="submit">
                                                <span class="glyphicon glyphicon-thumbs-up" style="color:red">    {{ commenti.likes }}</span>

                                            </a>
                                    {% else %}
                                        <div class="row justify-content-between">
                                            <a href="{% url 'meals:like_comment' commenti.id %}" type="submit">
                                                <span class="glyphicon glyphicon-thumbs-up" style="color:blue">    {{ commenti.likes }}</span>
                                            </a>
                                    {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            {% endif %}
                            </div>
                        </div>

                        <!--回复问题贴-->
                        <div class="row">
							<div class="col-md-12">
                                <h2 class="comment-heading"><strong>我也要说</strong></h2>
								<form action="{% url 'meals:detail' meal.id %}" method="post">
                                    {% csrf_token %}
									 <div class="blog__comment__form">
                                        <div class="comment__form">
                                            <div class="ct__form__box">
                                                <textarea name="message" placeholder="Your Message"></textarea>
                                                <br>
                                            </div>
                                         <button id='comment' type="submit" class="btn btn-danger" onclick="display_ifempty()">提交</button>
                                        </div>
                                    </div>
								</form>
							</div>
						</div>
                    </div>
                </div>
			</div>
        </div>
</div>

{% endblock %}

<!--引入了一个对餐品点赞收藏点踩的js插件-->
{% block script %}
    <script src="{% static 'js/vendor/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/active.js'%}"></script>
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js'></script>
    <script src="{% static 'js/button.js' %}"></script>
    <!--点赞收藏按钮特效-->
    <script>
        $(function(){
            var created = '{{ collect|safe }}';
        if (created != 'False'){
            $("#collectnum").css("background-color", "rgb(160 82 45)");
            $("#collectnum").css('color', 'rgb(255,255,255)')
        }
            });
        $(function(){
            var created = '{{ dislike|safe }}';
        if (created != 'False'){
            $("#dislikenum").css("background-color", "rgb(139 131 134)");
            $("#dislikenum").css('color', 'rgb(255,255,255)')
        }
            });
        $(function(){
            var created = '{{ like|safe }}';
        if (created != 'False'){
            $("#likenum").css("background-color", "rgb(49,163,182)");
            $("#likenum").css('color', 'rgb(255,255,255)')
        }
            });
       function display_ifempty() {
           var created = '{{ symbol|safe }}';
           if (created = 'False') {
               alert("评论不能为空哦");
           }
       }
    </script>
{% endblock %}