<!doctype html>
<!--首页
创建于4.10
lcy修改于4.
还差几个
登录连起后端
搜索连接后端
轮播最热门菜品
底部脚注
-->
{% load static %}
<html class="no-js" lang="zxx" ng-app="index">
<head>
	<meta charset="utf-8">

	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>菜单</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

	<!-- Favicons -->
	<link rel="shortcut icon" href="../../static/images/favicon.ico">
	<link rel="apple-touch-icon" href="../../static/images/icon.png">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="../../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../static/css/plugins.css">
	<link rel="stylesheet" href="../../static/style.css">

	<!-- Cusom css -->
   	<link rel="stylesheet" href="../../static/css/custom.css">

   	<link rel="stylesheet" href="../../static/css/sweetalert.css" />
	<script src="../../static/js/sweetalert.min.js"></script>
	<!-- Modernizer js -->
	<script src="../../static/js/vendor/modernizr-3.5.0.min.js"></script>

	<script src="../../static/js/angular.js"></script>
	<script src="../../static/lib/mall-menu-index.js"></script>
    <!--选框样式-->
    <style>
    body { font: 150%/1.6 sans-serif;}
    input[type="checkbox"] {
        position: absolute;
        clip: rect(0, 0, 0, 0);
    }

    input[type="checkbox"]+label::before {
        content: '\a0';
        display: inline-block;
        vertical-align: .2em;
        width: .8em;
        height: .8em;
        margin-right: .2em;
        border-radius: .2em;
        background: silver;
        text-indent: .15em;
        line-height: .65;
        background-color: white;
    }

    input[type="checkbox"]:checked+label::before {
        content: '\2713';
        background: yellowgreen;
    }

    input[type="checkbox"]:focus+label::before {
        box-shadow: 0 0 .1em .1em #58a;
        background-color: pink;
    }

    input[type="checkbox"]:disabled+label::before {
        background: gray;
        box-shadow: none;
        color: #555;
        cursor: not-allowed;
    }
</style>



</head>
<body ng-controller="indexctrl" >
	<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->

	<!-- Add your site or application content here -->

	<!-- <div class="fakeloader"></div> -->

	<!-- Main wrapper -->
	<div class="wrapper" id="wrapper">
		<!-- Start Header Area -->
        <header class="htc__header bg--white">
            <!-- Start Mainmenu Area -->
            <div id="sticky-header-with-topbar" class="mainmenu__wrap sticky__header">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-sm-4 col-md-6 order-1 order-lg-1">
                            <div class="logo">
                                <a href="{% url 'meals:index' %}">
                                    <img src="{% static 'images/logo/logo_sjtu.jpg'  %}" alt="logo images" height="60px" width="90px">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-sm-4 col-md-2 order-3 order-lg-2">
                            <div class="main__menu__wrap">
                                <nav class="main__menu__nav d-none d-lg-block">
                                    <ul class="mainmenu">
                                       <li>
                                        	<a href="{% url 'meals:index' %}">首页</a>
                                        </li>
                                         <li>
                                        	<a href="{% url 'meals:menu' %}">菜单</a>
                                        </li>
                                        <li><a href="https://canteen.sjtu.edu.cn/" target="_blank">就餐情况</a></li>
                                        <li><a href="{% url 'meals:myself' %}">个人中心</a></li>
                                    </ul>

                                </nav>

                            </div>
                        </div>
                        <div class="col-lg-1 col-sm-4 col-md-4 order-2 order-lg-3">
                            <div class="header__right d-flex justify-content-end">
<!--登录标识-->
                                <div class="log__in">
                                    <a href="{% url 'meals:logout' %}"><span class="glyphicon glyphicon-log-out"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="mobile-menu d-block d-lg-none"></div>
                    <!-- Mobile Menu -->
                </div>
            </div>
            <!-- End Mainmenu Area -->
        </header>
        <!-- Start Slider Area -->




    <!--模改搜索框-->


            <center>
                <div class="slide  bg-image--9">
            <form action="{% url "meals:menu" %}" method="post" >
                {% csrf_token %}
                标签：<input type="checkbox" name="Tag" value="1" id="1" autofocus />
                <label for="1"><font color="red">麻辣可口&nbsp</font></font></label>
                <input type="checkbox" name="Tag" value="2"value="1" id="2" autofocus />
                <label for="2"><font color="#adff2f">清爽&nbsp</font></label>
                <input type="checkbox" name="Tag" value="3"value="1" id="3" autofocus />
                <label for="3"><font color="orange">荤菜&nbsp</font></label>
                <input type="checkbox" name="Tag" value="4"value="1" id="4" autofocus />
                <label for="4"><font color="green">素菜&nbsp</font></label>
                <input type="checkbox" name="Tag" value="5"value="1" id="5" autofocus />
                <label for="5"><font color="#87cefa">低卡&nbsp</font></label>
                <input type="checkbox" name="Tag" value="6"value="1" id="6" autofocus />
                <label for="6"><font color="#a52a2a">高卡&nbsp</font></label>
                <input type="submit" value="筛选" style="width:100px;height:70px;background-color:lightgoldenrodyellow">
            </form>
                </div>
            </center>

            <div class="slide  bg-image--10">
             <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 ol-lg-12">
                        <form action="#">
                            <div class="table-content table-responsive">
                                <table>
                                    <thead>
                                        <tr class="title-top">
                                            <th class="product-thumbnail">图片</th>
                                            <th class="product-name">菜品名称</th>
                                            <th class="product-price">地址</th>
                                            <th class="product-quantity">菜品价格</th>
                                            <th class="product-subtotal">菜品点赞数</th>
                                            <th class="product-remove"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for c in all_meals %}
                                            <tr>
                                                <td class="product-thumbnail"><img width="270" height="200" src="{{ c.picture.url }}" alt="图片丢惹" /></td>
                                                <td class="product-name"><a href="../detail/{{ c.id }}/">{{c.name}}</a></td>
                                                <td class="product-price"><span class="amount">{{c.canteen}}</span></td>
                                                <td class="product-quantity"><span class="amount">{{c.price}}</span></td>

                                                <td class="product-subtotal"><span class="amount">{{c.likes}}</span></td>
                                                <td>
                                                    <button class="btn btn-default"><a href="../detail/{{ c.id }}/" ng-click="pay()">详情</a></button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        <p></p>


                                    </tbody>
                                </table>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
            </div>
        </div>
        <!-- End Slider Area -->
        </div>
            <footer class="footer__area footer--1">
            <div class="footer__wrapper bg__cat--1 section-padding--lg">
                <div class="container">
                    <div class="row">
                        <!-- Start Single Footer -->
                        <div class="col-md-8 col-lg-3 col-sm-12">
                            <div class="footer">
                                <h2 class="ftr__title">联系我们</h2>
                                <div class="footer__inner">
                                    <div class="ftr__details">
                                        <p>软件工程16小组</p>
                                        <div class="ftr__address__inner">
                                            <div class="ftr__address">
                                                <div class="ftr__address__icon">
                                                    <i class="zmdi zmdi-home"></i>
                                                </div>
                                                <div class="frt__address__details">
                                                    <p>东川路800号男子职业技术学院</p>
                                                </div>
                                            </div>
                                            <div class="ftr__address">
                                                <div class="ftr__address__icon">
                                                    <i class="zmdi zmdi-phone"></i>
                                                </div>
                                                <div class="frt__address__details">
                                                    <p><a href="https://bwc.sjtu.edu.cn/a/news/news/frontnewlist">54749110</a></p>
                                                </div>
                                            </div>
                                            <div class="ftr__address">
                                                <div class="ftr__address__icon">
                                                    <i class="zmdi zmdi-email"></i>
                                                </div>
                                                <div class="frt__address__details">
                                                    <p><a href="https://mail.qq.com/">li.ji.dong@qq.com</a></p>

                                                </div>
                                            </div>
                                        </div>
                                        <ul class="social__icon">
                                            <li><a href="https://devcloud.cn-east-3.huaweicloud.com/codehub/project/793a3b25fdf043c5928e0cb35d402ca2/codehub/7331095/home?ref=master"><i class="zmdi zmdi-github"></i></a></li>
                                            <li><a href="https://bwc.sjtu.edu.cn/a/news/news/frontnewlist"><i class="zmdi zmdi-phone"></i></a></li>
                                            <li><a href="https://mail.qq.com/"><i class="zmdi zmdi-email"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer -->
                        <!-- Start Single Footer -->
                        <div class="col-md-6 col-lg-2 col-sm-12">
                        </div>
                        <div class="col-md-6 col-lg-2 col-sm-12">
                        </div>
                        <div class="col-md-6 col-lg-2 col-sm-12">
                        </div>
                        <!-- End Single Footer -->
                        <!-- Start Single Footer -->
                        <div class="col-md-6 col-lg-3 col-sm-12 md--mt--40 sm--mt--40">
                            <div class="footer">
                                <h2 class="ftr__title">餐厅开放时间</h2>
                                <div class="footer__inner">
                                    <ul class="opening__time__list">
                                        <li>疫情期间</li>
                                        <li>早餐<span>......</span>6：30~8：30
                                        <li><span>   </span>
                                        <li>午餐<span>......</span>10：30~12：30
                                        <li><span>    </span>
                                        <li>餐堡<span>......</span>16：30~18：30
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Footer -->
                    </div>
                </div>
            </div>
        </footer>

<!--到这里截至-->
	<!-- JS Files -->
	<script src="../../static/js/vendor/jquery-3.2.1.min.js"></script>
	<script src="../../static/js/popper.min.js"></script>
	<script src="../../static/js/bootstrap.min.js"></script>
	<script src="../../static/js/plugins.js"></script>
	<script src="../../static/js/active.js"></script>
    <script src="../../static/js/layer.min.js"></script>



</body>
</html>
